body {
    background-color: white;
}

h1 {
    color: #175498;
    font-family: sans-serif;
}

p {
    color: #175498;

}

h3 {
    color: #175498;
    font-size: 26px;
    font-family: serif;
    line-height: 17px;
}

.handle--custom {
    z-index: 1;
}

.main text {
    font-size: 10px; 
    font-family: sans-serif;
}

.axis line,
.axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

rect.page {
    stroke: none;
}

rect.page.active {
    stroke: steelblue;
    stroke-width: 1;
}

circle.reference {
    opacity: 0.2;
    stroke: none;
}

circle.reference.selected {
    opacity: 0.75;
    stroke: none;
    stroke-width: 0;
}

line.link {
    stroke-width: 0;
}

line.link.show {
    stroke-width: 0.4;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: rgba(235, 235, 235, 0.85);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-family: sans-serif;
}


/*
    Styles P
  */

#tooltip p {
    margin: 0;
    
    font-size: 16px;
    line-height: 20px;
}